*.pyc
*.DS_Store
.vscode/settings.json
flowai.egg-info/dependency_links.txt
flowai.egg-info/PKG-INFO
flowai.egg-info/requires.txt
flowai.egg-info/SOURCES.txt
flowai.egg-info/top_level.txt
dist/*
build/bdist.macosx-10.9-x86_64
.pypirc